@import url("https://fonts.googleapis.com/css?family=Kanit");

$primary: #00425a;
$secondary: #1f8a70;
$tertiary: #bfdb38;
$quaternary: #fc7300;
$success: #57ca22;
$warning: #ffa319;
$error: #ff1943;
$info: #33c2ff;
$black: #000;
$white: #ffffff;
$primaryAlt: #000c57;
$text: rgb(38, 51, 82);
$admin: rgb(94, 100, 143);
$saler: rgb(226, 144, 139);
$customer: rgb(121, 136, 236);
$bronze: rgb(99, 58, 19);
$silver: rgb(215, 215, 215);
$gold: rgb(237, 204, 69);
$diamond: rgb(62, 128, 112);

.buttonLevelSilver,
.buttonLevelBronze,
.buttonLevelGold,
.buttonLevelDiamond,
.buttonRoleCustomer,
.buttonRoleSaler,
.buttonRoleAdmin {
  width: 80px;
  height: 24px;
  border: #ffffff;
  border-radius: 4px;
  color: #ffffff;
  margin: 0 6px;
}

.buttonLevelBronze {
  background-color: $bronze;
}

.buttonLevelSilver {
  background-color: $silver;
}

.buttonLevelGold {
  background-color: $gold;
}

.buttonLevelDiamond {
  background-color: $diamond;
}

.buttonRoleAdmin {
  background-color: $admin;
}

.buttonRoleSaler {
  background-color: $saler;
}

.buttonRoleCustomer {
  background-color: $customer;
}
