@import url("https://fonts.googleapis.com/css?family=Kanit");

$primary: #00425a;
$secondary: #1f8a70;
$tertiary: #bfdb38;
$quaternary: #fc7300;
$success: #57ca22;
$warning: #ffa319;
$error: #ff1943;
$info: #33c2ff;
$black: #000;
$white: #ffffff;
$primaryAlt: #000c57;
$text: rgb(38, 51, 82);
$admin: rgb(94, 100, 143);
$saler: rgb(226, 144, 139);
$customer: rgb(121, 136, 236);
$bronze: rgb(99, 58, 19);
$silver: rgb(215, 215, 215);
$gold: rgb(197, 176, 78);
$diamond: rgb(185, 242, 255);

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}