@import url("https://fonts.googleapis.com/css?family=Kanit");

$primary: #00425a;
$secondary: #1f8a70;
$tertiary: #bfdb38;
$quaternary: #fc7300;
$success: #57ca22;
$warning: #ffa319;
$error: #ff1943;
$info: #33c2ff;
$black: #000;
$white: #ffffff;
$primaryAlt: #000c57;
$text: rgb(38, 51, 82);

.header {
  font-family: "Kanit", sans-serif;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  :hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

h1 {
  color: $white;
}

.col-row {
  display: flex;
  width: 61%;
  input {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    background-color: $white;
    font-family: "Kanit", sans-serif;
  }
}

.menu {
  padding: 0 10px;
  color: $white;
}

.cart {
  padding: 0 10px;
  color: $white;
}



.btn-search {
  background-color: $white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: $primary;
  :hover {
    cursor: pointer;
  }
}

.btn-sign-in {
  background-color: $white;
  padding: 5px;
  min-width: 80px;
  border-radius: 5px;
  color: $text !important;
  display: flex;
  justify-content: space-around;
}

.btn-sign-out {
  background-color: $white;
  padding: 5px;
  min-width: 80px;
  border-radius: 5px;
  margin-left: 10px;
  color: $text !important;
  display: flex;
  justify-content: space-around;
}

.profile-name {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  color: $white !important;
}
