@import url("https://fonts.googleapis.com/css?family=Kanit");

$primary: #00425a;
$secondary: #1f8a70;
$tertiary: #bfdb38;
$quaternary: #fc7300;
$success: #57ca22;
$warning: #ffa319;
$error: #ff1943;
$info: #33c2ff;
$black: #000;
$white: #ffffff;
$primaryAlt: #000c57;
$text: rgb(38, 51, 82);

.home_box {
    width: 100%;
    padding: 0 170px;
    font-family: "Kanit", sans-serif;
}