@import url("https://fonts.googleapis.com/css?family=Kanit");

.container-footer {
    width: 100%;
    height: 250px;
    background-color: #2A343D;
    color: #ffffff;
    padding: 28px 80px;
    font-size: 12px;
    display: flex;
    font-family: "Kanit", sans-serif;

    .information-footer {
        width: 50%;
        display: inline-block;
        padding-right: 50px;
        margin-left: 146px;
        span {
            font-weight: bold;
        }
    }

    .contact-footer {
        width: 50%;
        display: inline-block;
        padding-left: 100px;

        span {
            font-weight: bold;
        }

        input {
            color: #302f2f;
            height: 32px;
            width: 300px;
            border: none;
            border-radius: 6px;
            padding: 8px;
            font-family: "Kanit", sans-serif;
        }

        button {
            margin-left: 6px;
            height: 32px;
            width: 80px;
            background-color: #DD3D32;
            color: #ffffff;
            border: none;
            border-radius: 6px;
            font-family: "Kanit", sans-serif;
        }

        button:hover {
            cursor: pointer;
            color: #dfdfdf;
            background-color: #aa251c;
        }
    }
}